# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clones etc.
PyMFEM/
pyglvis/
BFP.egg-info/
build/bdist.macosx-11.1-arm64
eg/
bfp/mesh/usr/
examples/
bfp/__all__.py